.header {
  height: 6.5%;
  display: flex;
  justify-content: center;
}
.header__div {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__div__logo {
  width: 14%;
}
.header__div__areas {
  border: 0;
  background-color: transparent;
  color: white;
}
.svgArea {
  font-size: 2em;
}
.header__div__profile {
  border: 0;
  background-color: transparent;
  color: white;
}
.svgProfile {
  font-size: 2em;
}
