.login {
  height: 100vmax;
  background: linear-gradient(
    179.85deg,
    #012b40 20.21%,
    rgba(1, 43, 64, 0) 99.87%
  );
}
.login__logoContainer {
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.login__data {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login__logoContainer__logo {
  width: 50%;
  height: auto;
}
.login__data__input {
  background-color: rgb(93, 122, 136);
  border: 0;
  height: 15%;
  width: 50%;
  border-radius: 15px;
  color: rgb(255, 255, 255);
}
.login__data__input::placeholder {
  color: white;
  font-family: "Nunito";
  padding-left: 10px;
  font-size: 20px;
}

.login__data__button {
  color: white;
  border: 0;
  border-radius: 15px;
  height: 15%;
  width: 23%;
  font-size: 20px;
  background-color: rgb(1, 43, 64);
}
